body, html {
    height: 100%;
    margin: 0;
}

#oat-milkers {
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    height: 100%;
}